
<!-- <button (click)="openDialog(reqsuccess)">SuccessDialog</button>
<button (click)="openDialog(reqerror)">ErrorDialog</button>
<button (click)="openDialog(loadDialog)">loadDialog</button>
<button (click)="openLoadDialog()">loadDialogTimer</button>
<button (click)="openConfirmDialog()">loadDialogTimer</button>
<button (click)="openLoginDialog()">openLoginDialog</button>
<button (click)="openRegisterDialog()">openRegisterDialog</button> -->


<ng-template #reqsuccess>
	<mat-dialog-content>
		Request success!
	</mat-dialog-content>
	<mat-dialog-actions>
		<button mat-button mat-dialog-close>Okay</button>
	</mat-dialog-actions>
</ng-template>

<ng-template #reqerror>
	<mat-dialog-content>
		Request error!
	</mat-dialog-content>
	<mat-dialog-actions>
		<button mat-button mat-dialog-close>Okay</button>
	</mat-dialog-actions>
</ng-template>

<ng-template #loadDialog>
	<mat-dialog-content>
		<mat-spinner [diameter]="64"></mat-spinner>
	</mat-dialog-content>
</ng-template>

<ng-template #confirmDialog>
	<mat-dialog-content>
		Confirm delete?
	</mat-dialog-content>
	<mat-dialog-actions>
		<button mat-button mat-dialog-close [mat-dialog-close]="true">Delete</button>
		<button mat-button mat-dialog-close [mat-dialog-close]="false">Cancel</button>
	</mat-dialog-actions>
</ng-template>

<div *ngIf="loggedIn==false">
	<div class="container center">
		Silahkan login terlebih dahulu
	</div>
	<div class="container center">
		<button mat-button (click)="openLoginDialog()" >Login</button>
		<button mat-button (click)="openRegisterDialog()" >Register</button>
	</div>	
</div>

<ng-template #loginDialog>
	<mat-dialog-content>
		<h2>Login</h2>
		<mat-form-field class="example-full-width" appearance="outline">
			<mat-label>Email: </mat-label>
			<input type="email" matInput placeholder="Ex. Roychan" [(ngModel)]="login_email" value="">
		</mat-form-field>
		<mat-form-field class="example-full-width" appearance="outline">
			<mat-label>Password: </mat-label>
			<input type="password" matInput placeholder="Ex. Roychan" [(ngModel)]="login_password" value="">
		</mat-form-field>
	</mat-dialog-content>
	<mat-dialog-actions>
		<button mat-button mat-dialog-close (click)="inputLogin()">Login</button>
		<button mat-button mat-dialog-close>Cancel</button>
	</mat-dialog-actions>
</ng-template>

<ng-template #registerDialog>
	<mat-dialog-content>
		<h2>Register</h2>
		<mat-form-field class="example-full-width" appearance="outline">
			<mat-label>Username: </mat-label>
			<input type="text" matInput placeholder="Ex. roychanmeliaz" [(ngModel)]="register_username" value="">
		</mat-form-field>
		<mat-form-field class="example-full-width" appearance="outline">
			<mat-label>Email: </mat-label>
			<input type="email" matInput placeholder="Ex. mail@mail.com" [(ngModel)]="register_email" value="">
		</mat-form-field>
		<mat-form-field class="example-full-width" appearance="outline">
			<mat-label>Password: </mat-label>
			<input type="password" matInput placeholder="" [(ngModel)]="register_password" value="">
		</mat-form-field>
	</mat-dialog-content>
	<mat-dialog-actions>
		<button mat-button mat-dialog-close (click)="inputRegister()">Register</button>
		<button mat-button mat-dialog-close>Cancel</button>
	</mat-dialog-actions>
</ng-template>


<mat-grid-list *ngIf="loggedIn==true" cols="10" rowHeight="500px">
    <mat-grid-tile colspan='4'>
		<!-- start input form -->
		<div class="inside-grid">
			<form [formGroup]="form.inputData" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)" class="example-form">
				<mat-form-field class="example-full-width" appearance="outline">
					<mat-label>Card Owner Name</mat-label>
					<input formControlName="cardOwnerName" [errorStateMatcher]="matcher" matInput placeholder="Ex. Roychan" value="">
					<mat-error *ngIf="cardOwnerName?.errors?.required">
						Please input card owner name
					</mat-error>
				</mat-form-field>
			  
				<mat-form-field class="example-full-width" appearance="outline">
					<mat-label>Card Number</mat-label>
					<input type="text" formControlName="cardNumber" matInput placeholder="16 digit number" value="">
					<mat-error *ngIf="cardNumber?.errors?.required">
						Please input card number
					</mat-error>
					<mat-error *ngIf="cardNumber?.errors?.pattern">
						Use the right format (xxxx-xxxx-xxxx-xxxx)
					</mat-error>
				</mat-form-field>
	
				<mat-form-field class="example-half-width" appearance="outline">
					<mat-label>Expiration Date</mat-label>
					<input formControlName="expirationDate" matInput placeholder="MM/YY" value="">
					<mat-error *ngIf="expirationDate?.errors?.required">
						Please input expiration date
					</mat-error>
					<mat-error *ngIf="expirationDate?.errors?.pattern">
						Use the right format (MM/YY)
					</mat-error>
				</mat-form-field>
				<mat-form-field class="example-half-width-sec" appearance="outline">
					<mat-label>Security Code</mat-label>
					<input type="password" formControlName="securityCode" matInput placeholder="3 digit number" value="">
					<mat-error *ngIf="securityCode?.errors?.required">
						Please input security code
					</mat-error>
					<mat-error *ngIf="securityCode?.errors?.pattern">
						Use the right format (xxx)
					</mat-error>
				</mat-form-field>
				<button type="submit" class="submit-button" mat-stroked-button color="primary">{{inputMode==1 ? "Add" : "Edit "}}</button>
				<button *ngIf="inputMode==2" (click)="cancelButton(formDirective)" class="cancel-button"  mat-stroked-button color="warn">Cancel edit</button>
			</form>	
		</div>
		<!-- end input form -->
	</mat-grid-tile>
    <mat-grid-tile colspan='6'>
		<!-- start table -->
		<div class="inside-grid">
			<table mat-table [dataSource]="paymentsList" class="">
				<ng-container matColumnDef="paymentDetailId">
					<th mat-header-cell *matHeaderCellDef> id </th>
					<td mat-cell *matCellDef="let element"> {{element.paymentDetailId}} </td>
				</ng-container>

				<ng-container matColumnDef="cardOwnerName">
					<th mat-header-cell *matHeaderCellDef> Card Owner </th>
					<td mat-cell *matCellDef="let element"> {{element.cardOwnerName}} </td>
				</ng-container>
		
				
				<ng-container matColumnDef="cardNumber">
					<th mat-header-cell *matHeaderCellDef> Card Number </th>
					<td mat-cell *matCellDef="let element"> {{element.cardNumber}} </td>
				</ng-container>
			
				<ng-container matColumnDef="expirationDate">
					<th mat-header-cell *matHeaderCellDef> Exp. Date </th>
					<td mat-cell *matCellDef="let element"> {{element.expirationDate}} </td>
				</ng-container>
			
				<ng-container matColumnDef="securityCode">
					<th mat-header-cell *matHeaderCellDef> Security Code </th>
					<td mat-cell *matCellDef="let element"> {{element.securityCode}} </td>
				</ng-container>
				
				<ng-container matColumnDef="actions">
					<th mat-header-cell *matHeaderCellDef> Actions </th>
					<td mat-cell *matCellDef="let element">
						<button class="button-table" (click)="editButton(element.paymentDetailId)" mat-stroked-button color="primary" >Edit</button>
						<button class="button-table" (click)="deleteButton(element.paymentDetailId)" mat-stroked-button color="primary" >Delete</button>
					</td>
				</ng-container>
				
				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>
		</div>
		<!-- end table -->
	</mat-grid-tile>
</mat-grid-list>
